@import "../../_vars.less";

// cards
@import "./cards/clock.less";
@import "./cards/counter.less";
@import "./cards/dimmer.less";
@import "./cards/forecast.less";
@import "./cards/gauge.less";
@import "./cards/switch.less";
@import "./cards/teleinfo-forecast.less";
@import "./cards/thermometer.less";
@import "./cards/wind.less";

#cards(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color) {
  .card {
    min-height: 125px;

    #clock(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color);
    #counter(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color);
    #dimmer(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color);
    #forecast(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color);
    #gauge(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color);
    #switch(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color);
    #teleinfo-forecast(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color);
    #thermometer(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color);
    #wind(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color);

    .title {
      border-top: 1px solid darken(@front_color, 10);

      &.no-border {
        border-top: none;
      }

      .icon {
        border-left: 1px solid darken(@front_color, 20);
      }
    }
  }
}
