#override_c3() {
  .c3 {
    path, 
    line {
      stroke: @primary_color;
    }
  }
  
  .c3-chart-arc {
    path,
    rect {
      stroke: @front_color;
    }
  
    text {
      fill: @primary_color;
    }
  }  
}