mixin card(title, battery = -1, wifi = -1)
  .w-auto.h-auto.inline-block.m-2
    .card.rounded-lg.p-1.flex.flex-col-reverse.text-primaryColor.bg-frontColor
      - var cl = title ? '' : 'hidden'
      .p-2.font-bold.text-xs(class=cl)
        p.pt-1.title.clearfix
          if (battery != -1)
            span.icon.float-right.ml-1.pl-1
              if (battery == 0)
                i.fas.fa-battery-empty.text-red-600
              else if (battery == .25)
                i.fas.fa-battery-quarter
              else if (battery == .5)
                i.fas.fa-battery-half
              else if (battery == .75)
                i.fas.fa-battery-three-quarters
              else if (battery == 1)
                i.fas.fa-battery-full.text-green-600
          if (wifi != -1)
            span.icon.float-right.ml-1.pl-1
              - var clw = wifi < .5 ? 'text-red-600' : ''
              i.fas.fa-wifi(class=clw)

          span= title
      if block
        .px-2.pt-1.w-full.text-center
          block

include card/chart
include card/clock
include card/counter
include card/dimmer
include card/forecast
include card/gauge
include card/indicator
include card/light
include card/moon
include card/numeric-display
include card/rain-gauge
include card/rgb-color-picker
include card/rgbw-color-picker
include card/shutter
include card/state
include card/switch
include card/teleinfo-forecast
include card/thermometer
include card/thermostat
include card/weather
include card/wind