mixin card(title, battery = -1, wifi = -1)
  .w-auto.h-auto.inline-block.m-2
    .card.rounded-lg.p-1.flex.flex-col-reverse.text-primaryColor.bg-frontColor
      - var cl = title ? '' : 'hidden'
      .p-2.font-bold.text-xs(class=cl)
        p.pt-1.title= title
      if block
        .px-2.pt-1.w-full.text-center
          block

include card/chart
include card/clock
include card/counter
include card/dimmer
include card/forecast
include card/gauge
include card/indicator
include card/light
include card/moon
include card/numeric-display
include card/rain-gauge
include card/rgb-color-picker
include card/rgbw-color-picker
include card/shutter
include card/state
include card/switch
include card/teleinfo-forecast
include card/thermometer
include card/thermostat
include card/weather
include card/wind