mixin card(title, battery = -1, wifi = -1)
  .card.inline-block.m-2.top-0.left-0.transform.transition-coord.duration-150.ease-in-expo.rounded-lg.p-1.flex.flex-col-reverse.text-primaryColor.bg-baseColor
    - var cl = title ? "" : "no-border";
    - var text = title ? title : "&nbsp;";
    .card-title.mt-1.pt-1.clearfix.p-2.font-bold.text-xs.h-8.truncate(class=cl)
      if (battery != -1)
        span.icon.float-right.ml-1.pl-1
          if (battery == 0)
            i.fas.fa-battery-empty.text-red-600
          else if (battery == .25)
            i.fas.fa-battery-quarter
          else if (battery == .5)
            i.fas.fa-battery-half
          else if (battery == .75)
            i.fas.fa-battery-three-quarters
          else if (battery == 1)
            i.fas.fa-battery-full.text-green-600
      if (wifi != -1)
        span.icon.float-right.ml-1.pl-1
          - var clw = wifi < 0.5 ? "text-red-600" : "";
          i.fas.fa-wifi(class=clw)
      span.title(title=text)!= text
    .card-wrapper.flex-grow
      if block
        block

include card/chart
include card/clock
include card/counter
include card/curtain
include card/dimmer
include card/forecast
include card/gauge
include card/indicator
include card/light
include card/numeric-display
include card/rain-gauge
include card/rgb-color-picker
include card/rgbw-color-picker
include card/shutter
include card/state
include card/switch
include card/teleinfo-forecast
include card/thermometer
include card/thermostat
include card/weather
include card/wind
