mixin card(title)
  .w-auto.h-auto.inline-block.m-2
    .card.rounded-lg.p-1.flex.flex-col-reverse.text-primaryColor
      .p-2.font-bold.text-xs
        p.pt-1.title= title
      if block
          block