header.w-screen.flex.flex-row-reverse.fixed.py-4.px-8
  a#customView.block.text-primaryColor(
    href='/',
    title='Configuration',
    class='hover:text-highlightColor'
  )
    i.fas.fa-cog
    span.sr-only Configuration
