header.w-screen.flex.flex-row-reverse.fixed.py-4.px-8
  a#customView.block.text-primaryColor(href="/", title="Personnalisation de la page", class="hover:text-highlightColor")
    i.fas.fa-wrench
    span.sr-only Personnalisation de la page