header#top.fixed.py-4.pr-4.top-0.right-0
  a#button-design.block.rounded-lg.border.text-primaryColor.bg-frontColor.text-xl.p-2.mb-1(
    href='#',
    title='Design',
    class='hover:text-highlightColor'
  )
    i.fas.fa-wrench.mono-font-xl.block
      span.sr-only Configuration
