header.w-screen.flex.flex-row-reverse
  a#customView.block.p-2.text-primaryColor(href="/", title="Personnalisation de la page", class="hover:text-highlightColor")
    i.fas.fa-wrench
    span.sr-only Personnalisation de la page