- let targetString = (value) => { return '' + value}

mixin menu_entry_content(icon, text, target)
  a.block.align-middle.text-primaryColor.no-underline.flex(class="md:py-3 hover:text-highlightColor", href='' + targetString(target))
    span.inline-block.w-6.text-center
      i(class=icon)
    span.absolute.text-sm.opacity-0.ml-3.ease-in-out.transition-all.duration-300.ml-6.pl-2(class="md:pb-0")= text

mixin menu_entry(icon, text, target, isActive = false)
  if isActive
    li.block.px-4.active.border-l-4.border-highlightColor.w-full.bg-activeColor
      +menu_entry_content(icon, text, target)
  else
    li.block.px-4.w-full
      +menu_entry_content(icon, text, target)

#sidebar.h-screen.w-16.bg-frontColor.flex.items-center.fixed.shadow.ease-in-out.transition-all.duration-300.z-50(class="hover:w-48 hover:shadow-2xl dark:shadow-white dark-hover:shadow-2xl-white")
  ul.w-full
    +menu_entry('fas fa-home', 'Accueil', '/', true)
    +menu_entry('fas fa-door-open', 'Volets', '/volets')
    +menu_entry('far fa-chart-bar', 'Suivi', '/suivi')
    +menu_entry('fas fa-bullhorn', 'Alarme', '/alarme')
    +menu_entry('far fa-hdd', 'Système', '/systme')
    +menu_entry('far fa-lightbulb', 'Test', '/test')
    +menu_entry('fas fa-cog', 'Configuration', '/config')