@import '../_vars.less';

// cards
@import './cards/clock.less';
@import './cards/counter.less';
@import './cards/dimmer.less';
@import './cards/forecast.less';
@import './cards/gauge.less';
@import './cards/switch.less';
@import './cards/teleinfo-forecast.less';
@import './cards/thermometer.less';
@import './cards/wind.less';

#cards(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color) {
  .card {
    border: 1px solid fadein(@active_color, 0.2);

    box-shadow: -6px -6px 16px fadein(@front_color, 0.83),
      6px 6px 16px fadein(@front_color, 0.51);

    #clock(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color);
    #counter(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color);
    #dimmer(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color);
    #forecast(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color);
    #gauge(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color);
    #switch(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color);
    #teleinfo-forecast(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color);
    #thermometer(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color);
    #wind(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color);

    .card-title {
      border-top: 1px solid darken(@front_color, 10);

      &.no-border {
        border-top: none;
      }

      .icon {
        border-left: 1px solid darken(@front_color, 20);
      }
    }

    .cardSize(@size) {
      .card-width-@{size} {
        width: @size * @card_width + (@size - 1) * @card_spacingX;
      }

      .card-height-@{size} {
        height: @size * @card_height + (@size - 1) * @card_spacingY;
      }
    }

    .cardSize(1);
    .cardSize(2);
    .cardSize(3);
    .cardSize(4);
    .cardSize(5);
  }

  #🤖 {
    opacity: 0.75;
  }

  .👻 {
    z-index: 99;
    opacity: 0.75;
    transition-duration: 0ms;
  }

  .📐 {
    position: relative;
    &:after {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 99;
      content: '';
      background: linear-gradient(
        135deg,
        @base_color,
        fadein(@active_color, 0.2)
      );
      width: .75rem;
      height: .75rem;
      cursor: se-resize;
    }
  }
}
