.swh(@font-size) {
  text-align: center;
  width: @font-size + 0.25rem;
  height: $width;
  line-height: $width;
}

@font-face {
  font-family: "D7MML";
  src: url("/webfonts/DSEG7ModernMini-Light.woff") format('woff');
}

@font-face {
  font-family: "D7MMLI";
  src: url("/webfonts/DSEG7ModernMini-LightItalic.woff") format('woff');
}

@font-face {
  font-family: "D7MMR";
  src: url("/webfonts/DSEG7ModernMini-Regular.woff") format('woff');
}

@font-face {
  font-family: "D7MMI";
  src: url("/webfonts/DSEG7ModernMini-Italic.woff") format('woff');
}

@font-face {
  font-family: "D7MMB";
  src: url("/webfonts/DSEG7ModernMini-Bold.woff") format('woff');
}

@font-face {
  font-family: "D7MMBI";
  src: url("/webfonts/DSEG7ModernMini-BoldItalic.woff") format('woff');
}

.font-mono {
  font-family: "D7MMR";
  letter-spacing: 0.025em;
}

.mono-font {

  &-xs {
    .swh(0.75rem);
  }

  &-sm {
    .swh(0.875rem);
  }

  & {
    .swh(1rem);
  }

  &-lg {
    .swh(1.125rem);
  }

  &-xl {
    .swh(1.25rem);
  }

  &-2xl {
    .swh(1.5rem);
  }

  &-3xl {
    .swh(1.875rem);
  }

  &-4xl {
    .swh(2.25rem);
  }

  &-5xl {
    .swh(3rem);
  }

  &-6xl {
    .swh(4rem);
  }
}
