#bottom {
  @apply fixed py-4 pr-4 bottom-0 right-0;

  a {
    @apply block rounded-lg border text-xl p-2 mt-1;

    line-height: normal;

    &:focus {
      @apply outline-none;
    }
    i {
      @apply block;
    }
  }

  #bottom-wrapper {
    @apply flex flex-col-reverse items-end;

    #menu-config {
      @apply text-xl transform duration-500 text-right transition-all h-0 duration-300 overflow-hidden;

      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &,
      li {
        @apply p-0 m-0 list-none;

        a {
          @apply inline-flex justify-end;

          span {
            @apply text-xs pr-2 hidden;
          }

          &:hover {
            span {
              @apply block;
            }
          }
        }
      }
    }

    #button-config.active ~ #menu-config {
      height: auto;
    }
  }
}

#footer(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color) {
  #bottom {
    a {
      border-color: darken(@front_color, 2%);

      box-shadow: -@shadow_size -@shadow_size @shadow_size*2
          lighten(@front_color, -2.5%),
        @shadow_size @shadow_size @shadow_size*2 lighten(@front_color, 2.5%);

      &.active,
      &:hover {
        color: @highlight_color;
        background: linear-gradient(
          145deg,
          lighten(@base_color, 1.5%),
          lighten(@base_color, -1.5%)
        );
      }
    }
  }
}
