@import './cards.less';
@import './colors.less';
@import './footer.less';
@import './header.less';
@import './helpers.less';
@import './shadows.less';
@import './subpage.less';

body {
  @apply flex h-screen font-sans;
}

#illustration {
  @apply fixed w-full inset-0 min-h-full;
  .filter {
    @apply w-full inset-0 min-h-full absolute;
    background-size: cover;
    z-index: -1;
  }
  .cover {
    @apply w-full inset-0 min-h-full absolute bg-cover;
    z-index: -2;
  }
}

main {
  @apply w-full mx-16 my-4 p-4 relative;
}

#makeTheme(@base_color, 
           @front_color, 
           @active_color, 
           @primary_color, 
           @highlight_color, 
           @shadow_color, 
           @text_shadow_color
    ) {
  #illustration {
    .filter {
      background: linear-gradient(
        fade(@base_color, 90%),
        fade(@base_color, 92.5%),
        fade(@base_color, 95%)
      );
    }
  }

  #sidebar {
    li.active {
      background-color: @active_color;
      border-color: @highlight_color;
    }

    a:hover {
      @color: @highlight_color;
    }
  }

  #helpers(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text_shadow_color);
  #header(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text_shadow_color);
  #footer(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text_shadow_color);
  #subpage(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text_shadow_color);
  #cards(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text_shadow_color);
  #colors(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text_shadow_color);
  #shadows(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text_shadow_color);
}
