#overrides(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color) {
  .chart {
    .ct-label,
    .ct-axis-title {
      fill: fadeIn(@primary_color, 0.4);
      color: fadeIn(@primary_color, 0.4);
    }

    .ct-grid {
      stroke: fadeIn(@primary_color, 0.2);
    }
  }
}
