extends layout/main

include inc/card

block vars
  - var bgUrl = '/img/parker-coffman-YmliIkcjP-g-unsplash.jpeg'

block sidebar
  +sidebar("alarme")

block main
  +card('Activation')
    +switch('toggle', 'off')
  +card('Entrée')
    +shutter('door')
  +card('Chambre parent')
    +shutter('window')
  +card('Chambre Simon')
    +shutter('window')
  +card('Chambre SAM-Est')
    +shutter('window')
  +card('Chambre SAM-Ouest')
    +shutter('window')
  +card('Sirène')
    +indicator('fas fa-bell')
  +card('Test')
    +shutter('window')
  +card('Chambre Chloé')
    +shutter('window', 'closed')
  +card('PIR entrée')
    +indicator('fas fa-eye')
  +card('Garage')
    +shutter('door')
  +card('Etat alarme')
    +state('Désarmée')
