extends layout/main

include inc/card

block sidebar
  +sidebar("alarme")

block main
  +card('Activation')
  +card('Entrée')
  +card('Chambre parent')
  +card('Chambre Simon')
  +card('Chambre SAM-Est')
  +card('Chambre SAM-Ouest')
  +card('Sirène')
  +card('Test')
  +card('Chambre Chloé')
  +card('PIR entrée')
  +card('Garage')
  +card('Etat alarme')
