extends layout/main

include inc/card

block sidebar
  +sidebar("home")

block main
  +card('Wifi')
    +switch('toggle', 'on')
  +card('Salle à manger')
    +thermometer(20.4, 8, 30)
  +card('Mini-four')
    +indicator('fas fa-utensils')
  +card('')
    +forecast('Royanne', [
      {
        'day': 'jeu. 5',
        'cond': 'cloud-sun',
        'Tmin': 5,
        'Tmax': 16,
        'Tunit': '°C',
        'Wmin': 2,
        'Wmax': 13,
        'Wdir': 'E',
        'rain': 0
      },
      {
        'day': 'ven. 6',
        'cond': 'cloud',
        'Tmin': 10,
        'Tmax': 18,
        'Tunit': '°C',
        'Wmin': 29,
        'Wmax': 40,
        'Wdir': 'S',
        'rain': 7
      },
      {
        'day': 'sam. 7',
        'cond': 'cloud-rain',
        'Tmin': 3,
        'Tmax': 15,
        'Tunit': '°C',
        'Wmin': 19,
        'Wmax': 24,
        'Wdir': 'SE',
        'rain': 1
      },
      {
        'day': 'dim. 8',
        'cond': 'cloud-rain',
        'Tmin': 4,
        'Tmax': 14,
        'Tunit': '°C',
        'Wmin': 10,
        'Wmax': 15,
        'Wdir': 'ONO',
        'rain': 5
      }
    ])
  +card('Salle de bain')
    +thermometer(29, 8, 30)
  +card('Musique')
    +indicator('fas fa-music')
  +card('Durée allumage Wifi')
    +numeric-display(15, 2, 's', 'Hier à 23:59')
  +card('Conso musique')
    +numeric-display(0, 1, 'W', "Aujourd'hui à 15:32")
  +card('Humidité salle de bain')
    +numeric-display(46.8, 1, '%', "Aujourd'hui à 15:40")
  +card('PIR')
    +numeric-display(20, 1, 'lux', "Aujourd'hui à 15:27")
  +card('PIR - présence')
    +indicator('fas fa-eye')
  +card('Conso musique')
    +gauge(0, 0, 100, 'W')
  +card('Vent moyen (m/s)')
    +numeric-display(5, 1, 'm/s', "Aujourd'hui à 15:33")
  +card('Vent maximum (m/s)')
    +numeric-display(8, 1, 'm/s', "Aujourd'hui à 15:33")
  +card('')
    +weather('Royanne', 'cloud-sun', '17')
  +card('Internet - Download')
    +numeric-display(779.7, 1, 'm/s', "Aujourd'hui à 15:33")
  +card('')
    +clock()
  +card('Luminosité entrée')
    +gauge(20, 0, 30, 'lux')
  +card('Ping Internet')
    +numeric-display(0, 0, 'ms', "Aujourd'hui à 15:32")
  +card('Vent maximum')
    +wind(28.8, 'ONO')
  +card('Arrosage +1/4h')
    +switch('button', 'fas fa-tint', 'on')
  +card('Arrêt arrosage')
    +switch('button', 'fas fa-times', 'off')
  +card('Arrosage terrasse')
    +indicator('fas fa-tint')
  +card('Radiateur Salle de bain')
    +indicator('fas fa-fire')
  +card('Internet')
    +indicator('fas fa-signal', true)
  +card('Batterie onduleur')
    +indicator('fas fa-exclamation-circle')
