extends layout/main

include inc/card

block sidebar
  +sidebar("suivi")

block main
  +card('Vent')
    +chart({
      datas: [
        {
          data: [
            { date: '18:00', value: 0},
            { date: '18:30', value: 0},
            { date: '19:00', value: 0},
            { date: '19:30', value: 1},
            { date: '20:00', value: 10},
            { date: '18:00', value: 13},
            { date: '18:00', value: 4},
          ],
          label: 'Vent maximum/speed'
        }
      ],
      unit: 'm/s'
    })
  +card('Arrosage')
    +chart({
      data: [],
      unit: '',
      label: 'Arrosage (id 050D6004) / Terrasse'
    })
  +card('Températures')
    +chart({
      datas: [
        {
          data: [
            { date: '18:00', value: 0},
            { date: '18:30', value: 0},
            { date: '19:00', value: 0},
            { date: '19:30', value: 1},
            { date: '20:00', value: 10},
            { date: '18:00', value: 13},
            { date: '18:00', value: 4},
          ],
          label: 'Température salle à manger / TMP - Temperature'
        },
        {
          data: [
            { date: '18:00', value: 0},
            { date: '18:30', value: 0},
            { date: '19:00', value: 0},
            { date: '19:30', value: 1},
            { date: '20:00', value: 10},
            { date: '18:00', value: 13},
            { date: '18:00', value: 4},
          ],
          label: 'Température salle de bain / TMP - Temperature'
        }
      ],
      unit: '°C'
    })