extends layout/main

include inc/card

block vars
  - var bgUrl = '/img/sidekix-media-BAVam-y_9Wg-unsplash.jpeg'

block sidebar
  +sidebar("systme")

block main
  +card('Pi')
    +thermometer(45.3, 40, 80)
  +card('Charge onduleur')
    +gauge(4)
  +card('Tension réseau')
    +numeric-display(235.2, 1, 'V', 'Aujourd\'hui à 15:42')
  +card('CPU')
    +gauge(3.54)
  +card('Fréquence réseau')
    +numeric-display(49.9, 1, 'Hz', 'Aujourd\'hui à 15:43')
  +card('Redémarrage Pi')
    +switch('button', 'fas fa-sync')
  +card('Mémoire')
    +gauge(11.836, 3)
  +card('Arrêt de la Pi')
    +switch('button', 'fas fa-power-off')
  +card('Température Pi')
    +chart
  +card('Disque')
    +gauge(5.927)
  +card('Carte SD')
    +gauge(32.194)
  +card('UPS')
    +chart
  +card('Shared Memory')
    +gauge(2.873)
  +card('Internet')
    +chart
  +card('Conso TV')
    +chart
