extends layout/main

include inc/card

block sidebar
  +sidebar("test")

block main
  +card('Allumée')
    +light(true)
  +card('Eteinte')
    +light(false)
  +card('Test batterie 0%', 0)
    +counter(3213874.245, 'Wh')
  +card('Test batterie 25%', .25)
  +card('Test batterie 50%', .5)
  +card('Test batterie 75%', .75)
  +card('Test batterie 100%', 1)
  +card('Test signal', -1, 1)
  +card('Test signal faible', -1, 0)
  +card('Test signal & batterie', 1, .75)
  +card('Test signal & batterie 2', .5, .25)
  +card('Teleinfo Forecast - Blue')
    +teleinfo-forecast('blue')
  +card('Teleinfo Forecast - White')
    +teleinfo-forecast('white')
  +card('Teleinfo Forecast - Red')
    +teleinfo-forecast('red')