extends layout/main

include inc/card

block sidebar
  +sidebar("test")

block main
  +card('Allumée')
    +light(true)
  +card('Eteinte')
    +light(false)
  +card('Test batterie 0%', 0)
    +counter(3213874.245, 'Wh')
  +card('Test batterie 25%', .25)
    +dimmer(42, 0, 100, 10, "%")
  +card('Test batterie 50%', .5)
    +rgb-color-picker('#131282')
  +card('Test batterie 75%', .75)
    +rgbw-color-picker('#131282')
  +card('Test batterie 100%', 1)
    +thermometer(0.2, 0, 100)
  +card('Test signal', -1, 1)
    +thermometer(20.2, 0, 100)
  +card('Test signal faible', -1, 0)
    +thermometer(40.2, 0, 100)
  +card('Test signal & batterie', 1, .75)
    +thermometer(60.2, 0, 100)
  +card('Test signal & batterie 2', .5, .25)
    +thermometer(80.2, 0, 100)
  +card('Test batterie 100%', 1)
    +gauge(0.2, 0, 100)
  +card('Test signal', -1, 1)
    +gauge(20.2, 0, 100)
  +card('Test signal faible', -1, 0)
    +gauge(40.2, 0, 100)
  +card('Test signal & batterie', 1, .75)
    +gauge(60.2, 0, 100)
  +card('Test signal & batterie 2', .5, .25)
    +gauge(80.2, 0, 100)
  +card('Teleinfo Forecast - Blue')
    +teleinfo-forecast('blue')
  +card('Teleinfo Forecast - White')
    +teleinfo-forecast('white')
  +card('Teleinfo Forecast - Red')
    +teleinfo-forecast('red')