extends layout/main

include inc/card

block vars
  - var bgUrl = '/img/sidekix-media-hgbpEk9nDeg-unsplash.jpeg'

block sidebar
  +sidebar("volets")

block main
  +card('Ouverture automatique volets')
    +switch('toggle', 'on')
  +card('Ouverture automatique velux')
    +switch('toggle', 'off')
  +card('Vélux autorisés')
    +switch('toggle', 'on')
  +card('Vélux bureau')
    +switch('arrow', 'up')
  +card('Volets battants bureau')
    +curtain
  +card('Vélux salle de jeux')
    +switch('arrow', 'up')
  +card('Salle de jeux porte-fenêtre')
    +curtain
  +card('Salle de jeux fenêtre')
    +curtain
