extends layout/main

include inc/card

block sidebar
  +sidebar("volets")

block main
  +card('Ouverture automatique volets')
    +switch('toggle', 'on')
  +card('Ouverture automatique velux')
    +switch('toggle', 'on')
  +card('Vélux autorisés')
    +switch('toggle', 'on')
  +card('Vélux bureau')
    +switch('arrow', 'up')
  +card('Volets battants bureau')
    +switch('arrow_stop')
  +card('Vélux salle de jeux')
    +switch('arrow', 'up')
  +card('Salle de jeux porte-fenêtre')
    +switch('arrow_stop')
  +card('Salle de jeux fenêtre')
    +switch('arrow_stop')
