extends layout/main

include inc/card

block sidebar
  +sidebar("volets")

block main
  +card('Ouverture automatique volets')
  +card('Ouverture automatique velux')
  +card('Vélux autorisés')
  +card('Vélux bureau')
  +card('Volets battants bureau')
  +card('Vélux salle de jeux')
  +card('Salle de jeux porte-fenêtre')
  +card('Salle de jeux fenêtre')
