#sidebar:hover span {
  opacity: 1;
}
#sidebar .active a {
  margin-left: -4px;
}
/*
@font-face {
  font-family: "D7MML";
  src: url("/webfonts/DSEG7ModernMini-Light.woff") format('woff');
}

@font-face {
  font-family: "D7MMLI";
  src: url("/webfonts/DSEG7ModernMini-LightItalic.woff") format('woff');
}
*/
@font-face {
  font-family: "D7MMR";
  src: url("/webfonts/DSEG7ModernMini-Regular.woff") format('woff');
}
/*
@font-face {
  font-family: "D7MMI";
  src: url("/webfonts/DSEG7ModernMini-Italic.woff") format('woff');
}

@font-face {
  font-family: "D7MMB";
  src: url("/webfonts/DSEG7ModernMini-Bold.woff") format('woff');
}

@font-face {
  font-family: "D7MMBI";
  src: url("/webfonts/DSEG7ModernMini-BoldItalic.woff") format('woff');
}
*/
.font-mono {
  font-family: "D7MMR";
  letter-spacing: 0.025em;
}
.mono-font {
  text-align: center;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
}
.mono-font-xs {
  text-align: center;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
}
.mono-font-sm {
  text-align: center;
  width: 1.125rem;
  height: 1.125rem;
  line-height: 1.125rem;
}
.mono-font-lg {
  text-align: center;
  width: 1.375rem;
  height: 1.375rem;
  line-height: 1.375rem;
}
.mono-font-xl {
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}
.mono-font-2xl {
  text-align: center;
  width: 1.75rem;
  height: 1.75rem;
  line-height: 1.75rem;
}
.mono-font-3xl {
  text-align: center;
  width: 2.125rem;
  height: 2.125rem;
  line-height: 2.125rem;
}
.mono-font-4xl {
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
}
.mono-font-5xl {
  text-align: center;
  width: 3.25rem;
  height: 3.25rem;
  line-height: 3.25rem;
}
.mono-font-6xl {
  text-align: center;
  width: 4.25rem;
  height: 4.25rem;
  line-height: 4.25rem;
}
#illustration .filter {
  background: linear-gradient(rgba(247, 250, 252, 0.9), rgba(247, 250, 252, 0.925), rgba(247, 250, 252, 0.95));
  background-size: cover;
  z-index: -1;
}
#illustration .cover {
  z-index: -2;
  background-size: cover;
}
.card {
  border: 1px solid #edf2f7;
  box-shadow: -6px -6px 16px #ffffff, 6px 6px 16px #ffffff;
}
.card .odometer .odometer-hacking-mark ~ .odometer-digit {
  background-image: linear-gradient(to bottom, #eee0d3 0%, #eee0d3 40%, #bbaa9a 60%, #eee0d3 80%, #eee0d3 100%);
  background-color: #fff5f5;
  color: #c53030;
}
.card .odometer .odometer-suffix-mark {
  padding: 0 0.15rem;
}
.card .dimmer input[type="number"]::-webkit-inner-spin-button,
.card .dimmer input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
.card .dimmer input:focus,
.card .dimmer button:focus {
  outline: none !important;
}
.card .forecast .ring > div {
  bottom: -5px;
}
.card .forecast .ring.wind-S {
  --transform-rotate: 0deg;
}
.card .forecast .ring.wind-SSE {
  --transform-rotate: -22.5deg;
}
.card .forecast .ring.wind-SE {
  --transform-rotate: -45deg;
}
.card .forecast .ring.wind-ESE {
  --transform-rotate: -67.5deg;
}
.card .forecast .ring.wind-E {
  --transform-rotate: -90deg;
}
.card .forecast .ring.wind-ENE {
  --transform-rotate: -112.5deg;
}
.card .forecast .ring.wind-NE {
  --transform-rotate: -135deg;
}
.card .forecast .ring.wind-NNE {
  --transform-rotate: -157.5deg;
}
.card .forecast .ring.wind-N {
  --transform-rotate: 180deg;
}
.card .forecast .ring.wind-NNO {
  --transform-rotate: 157.5deg;
}
.card .forecast .ring.wind-NO {
  --transform-rotate: 135deg;
}
.card .forecast .ring.wind-ONO {
  --transform-rotate: 112.5deg;
}
.card .forecast .ring.wind-O {
  --transform-rotate: 90deg;
}
.card .forecast .ring.wind-OSO {
  --transform-rotate: 67.5deg;
}
.card .forecast .ring.wind-SO {
  --transform-rotate: 45deg;
}
.card .forecast .ring.wind-SSO {
  --transform-rotate: 22.5deg;
}
.card .gauge .wrapper {
  box-shadow: 0 0 3rem 0 #edf2f7;
}
.card .gauge .ring .fill {
  background-color: #EDF2F7;
}
.card .gauge .container {
  top: 50%;
}
.card .gauge.frost .wrapper {
  box-shadow: 0 0 2.2rem 0 #2b6cb0;
}
.card .gauge.frost .ring .fill {
  background-color: #2b6cb0;
}
.card .gauge.cold .wrapper {
  box-shadow: 0 0 2.4rem 0 #4c51bf;
}
.card .gauge.cold .ring .fill {
  background-color: #4c51bf;
}
.card .gauge.normal .wrapper {
  box-shadow: 0 0 2.6rem 0 #6b46c1;
}
.card .gauge.normal .ring .fill {
  background-color: #6b46c1;
}
.card .gauge.warm .wrapper {
  box-shadow: 0 0 2.8rem 0 #b83280;
}
.card .gauge.warm .ring .fill {
  background-color: #B83280;
}
.card .gauge.hot .wrapper {
  box-shadow: 0 0 3rem 0 #c53030;
}
.card .gauge.hot .ring .fill {
  background-color: #C53030;
}
.card .switch-button {
  line-height: normal;
  border-color: #f0f5f9;
  box-shadow: -5px -5px 10px #eef4f9, 5px 5px 10px #ffffff;
}
.card .switch-button.active {
  color: #319795;
  background: linear-gradient(145deg, #fdfdfe, #f1f7fa);
}
.card .switch-button:focus {
  outline: none;
}
.card .switch-arrow:focus {
  outline: none;
}
.card .switch-toggle.active .wrapper,
.card .switch-toggle.hover\:active:hover .wrapper {
  background-color: #718096 !important;
  box-shadow: none;
}
.card .switch-toggle input[checked] ~ .wrapper {
  background-color: #319795 !important;
  box-shadow: 0 0 10px 0 #319795;
}
.card .teleinfo-forecast .square {
  width: 3rem;
  height: 3rem;
  box-shadow: 0 0 20px currentColor;
}
.card .thermometer .liquid {
  background-color: #4a5568;
}
.card .thermometer .bulb {
  box-shadow: 0 0 20px 0 #4a5568;
}
.card .thermometer.frost .liquid {
  background-color: #2b6cb0;
}
.card .thermometer.frost .bulb {
  box-shadow: 0 0 20px 0 #2b6cb0;
}
.card .thermometer.cold .liquid {
  background-color: #4c51bf;
}
.card .thermometer.cold .bulb {
  box-shadow: 0 0 20px 0 #4c51bf;
}
.card .thermometer.normal .liquid {
  background-color: #6b46c1;
}
.card .thermometer.normal .bulb {
  box-shadow: 0 0 20px 0 #6b46c1;
}
.card .thermometer.warm .liquid {
  background-color: #B83280;
}
.card .thermometer.warm .bulb {
  box-shadow: 0 0 20px 0 #b83280;
}
.card .thermometer.hot .liquid {
  background-color: #C53030;
}
.card .thermometer.hot .bulb {
  box-shadow: 0 0 20px 0 #c53030;
}
.card .wind .ring > div {
  bottom: -5px;
}
.card .wind .ring.wind-S {
  --transform-rotate: 0deg;
}
.card .wind .ring.wind-SSE {
  --transform-rotate: -22.5deg;
}
.card .wind .ring.wind-SE {
  --transform-rotate: -45deg;
}
.card .wind .ring.wind-ESE {
  --transform-rotate: -67.5deg;
}
.card .wind .ring.wind-E {
  --transform-rotate: -90deg;
}
.card .wind .ring.wind-ENE {
  --transform-rotate: -112.5deg;
}
.card .wind .ring.wind-NE {
  --transform-rotate: -135deg;
}
.card .wind .ring.wind-NNE {
  --transform-rotate: -157.5deg;
}
.card .wind .ring.wind-N {
  --transform-rotate: 180deg;
}
.card .wind .ring.wind-NNO {
  --transform-rotate: 157.5deg;
}
.card .wind .ring.wind-NO {
  --transform-rotate: 135deg;
}
.card .wind .ring.wind-ONO {
  --transform-rotate: 112.5deg;
}
.card .wind .ring.wind-O {
  --transform-rotate: 90deg;
}
.card .wind .ring.wind-OSO {
  --transform-rotate: 67.5deg;
}
.card .wind .ring.wind-SO {
  --transform-rotate: 45deg;
}
.card .wind .ring.wind-SSO {
  --transform-rotate: 22.5deg;
}
.card .card-title {
  border-top: 1px solid #e6e6e6;
}
.card .card-title.no-border {
  border-top: none;
}
.card .card-title .icon {
  border-left: 1px solid #cccccc;
}
.card .card-width-1 {
  width: 8rem;
}
.card .card-height-1 {
  height: 6rem;
}
.card .card-width-2 {
  width: 17.625rem;
}
.card .card-height-2 {
  height: 15.875rem;
}
.card .card-width-3 {
  width: 27.25rem;
}
.card .card-height-3 {
  height: 25.75rem;
}
.card .card-width-4 {
  width: 36.875rem;
}
.card .card-height-4 {
  height: 35.625rem;
}
.card .card-width-5 {
  width: 46.5rem;
}
.card .card-height-5 {
  height: 45.5rem;
}
.card#🤖 {
  opacity: 0.75;
}
.card.👻 {
  z-index: 99;
  opacity: 0.5;
  transition-duration: 0ms;
}
.card .📐 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
  content: '';
  background: linear-gradient(135deg, #F7FAFC, #edf2f7);
  width: 0.75rem;
  height: 0.75rem;
  cursor: se-resize;
}
.card.🏄 {
  cursor: move;
}
.glass {
  background-color: #fcfcfc;
}
.bg-minColor,
.hover\:bg-minColor:hover {
  background-color: #4299e1;
}
.text-minColor,
.hover\:text-minColor:hover {
  color: #4299e1;
}
.border-minColor,
.hover\:border-minColor:hover {
  border-color: #4299e1;
}
.bg-maxColor,
.hover\:bg-maxColor:hover {
  background-color: #f56565;
}
.text-maxColor,
.hover\:text-maxColor:hover {
  color: #f56565;
}
.border-maxColor,
.hover\:border-maxColor:hover {
  border-color: #f56565;
}
.bg-baseColor,
.hover\:bg-baseColor:hover {
  background-color: #F7FAFC;
}
.text-baseColor,
.hover\:text-baseColor:hover {
  color: #F7FAFC;
}
.border-baseColor,
.hover\:border-baseColor:hover {
  border-color: #F7FAFC;
}
.bg-frontColor,
.hover\:bg-frontColor:hover {
  background-color: #FFFFFF;
}
.text-frontColor,
.hover\:text-frontColor:hover {
  color: #FFFFFF;
}
.border-frontColor,
.hover\:border-frontColor:hover {
  border-color: #FFFFFF;
}
.bg-activeColor,
.hover\:bg-activeColor:hover {
  background-color: #EDF2F7;
}
.text-activeColor,
.hover\:text-activeColor:hover {
  color: #EDF2F7;
}
.border-activeColor,
.hover\:border-activeColor:hover {
  border-color: #EDF2F7;
}
.bg-primaryColor,
.hover\:bg-primaryColor:hover {
  background-color: #718096;
}
.text-primaryColor,
.hover\:text-primaryColor:hover {
  color: #718096;
}
.border-primaryColor,
.hover\:border-primaryColor:hover {
  border-color: #718096;
}
.bg-highlightColor,
.hover\:bg-highlightColor:hover {
  background-color: #319795;
}
.text-highlightColor,
.hover\:text-highlightColor:hover {
  color: #319795;
}
.border-highlightColor,
.hover\:border-highlightColor:hover {
  border-color: #319795;
}
.bg-shadowColor,
.hover\:bg-shadowColor:hover {
  background-color: #333333;
}
.text-shadowColor,
.hover\:text-shadowColor:hover {
  color: #333333;
}
.border-shadowColor,
.hover\:border-shadowColor:hover {
  border-color: #333333;
}
.chart .ct-label,
.chart .ct-axis-title {
  fill: #718096;
  color: #718096;
}
.chart .ct-grid {
  stroke: #718096;
}
.shadow-xs,
.sm\:shadow-xs,
.md\:shadow-xs,
.lg\:shadow-xs,
.xl\:shadow-xs,
.hover\:shadow-xs:hover,
.focus\:shadow-xs:focus {
  box-shadow: 0 0 0 1px #000000;
}
.shadow-sm,
.sm\:shadow-sm,
.md\:shadow-sm,
.lg\:shadow-sm,
.xl\:shadow-sm,
.hover\:shadow-sm:hover,
.focus\:shadow-sm:focus {
  box-shadow: 0 1px 2px 0 #000000;
}
.shadow,
.sm\:shadow,
.md\:shadow,
.lg\:shadow,
.xl\:shadow,
.hover\:shadow:hover,
.focus\:shadow:focus {
  box-shadow: 0 1px 3px 0 #000000, 0 1px 2px 0 #000000;
}
.shadow-md,
.sm\:shadow-md,
.md\:shadow-md,
.lg\:shadow-md,
.xl\:shadow-md,
.hover\:shadow-md:hover,
.focus\:shadow-md:focus {
  box-shadow: 0 4px 6px -1px #000000, 0 2px 4px -1px #000000;
}
.shadow-lg,
.sm\:shadow-lg,
.md\:shadow-lg,
.lg\:shadow-lg,
.xl\:shadow-lg,
.hover\:shadow-lg:hover,
.focus\:shadow-lg:focus {
  box-shadow: 0 10px 15px -3px #000000, 0 4px 6px -2px #000000;
}
.shadow-xl,
.sm\:shadow-xl,
.md\:shadow-xl,
.lg\:shadow-xl,
.xl\:shadow-xl,
.hover\:shadow-xl:hover,
.focus\:shadow-xl:focus {
  box-shadow: 0 20px 25px -5px #000000, 0 10px 10px -5px #000000;
}
.shadow-2xl,
.sm\:shadow-2xl,
.md\:shadow-2xl,
.lg\:shadow-2xl,
.xl\:shadow-2xl,
.hover\:shadow-2xl:hover,
.focus\:shadow-2xl:focus {
  box-shadow: 0 25px 50px -12px #000000;
}
.shadow-3xl,
.sm\:shadow-3xl,
.md\:shadow-3xl,
.lg\:shadow-3xl,
.xl\:shadow-3xl,
.hover\:shadow-3xl:hover,
.focus\:shadow-3xl:focus {
  box-shadow: 0 35px 60px -15px #000000;
}
.shadow-inner,
.sm\:shadow-inner,
.md\:shadow-inner,
.lg\:shadow-inner,
.xl\:shadow-inner,
.hover\:shadow-inner:hover,
.focus\:shadow-inner:focus {
  box-shadow: inset 0 2px 4px 0 #000000;
}
.text-shadow {
  text-shadow: 0 0 20px #333333;
}
