mixin clock(seconds=false, digital=true)
  - var cl = !digital ? (seconds ? "card-width-2" : "card-width-1") : "card-width-2";
  .clock.text-3xl.card-height-1(
    data-seconds=seconds,
    class=cl
  )
    .flex.items-center.justify-center.w-full.h-full
      .rounded-lg.text-highlightColor.shadow-inner.glass.flex.items-center.justify-center.h-16.px-2
        +makeDigital('', digital, '88:88:88')
        .ampm.text-xl.pl-2
