mixin clock
  .clock.text-3xl.rounded-lg.text-highlightColor.shadow-inner.p-2
    .relative.overflow-hidden
      span.hollow.absolute.inset-0.font-mono.opacity-12 00:00:00
      span.digits.font-mono
      span.ampm
