mixin clock(seconds=false, digital=true)
  - var cl = digital ? (seconds ? "w-64" : "w-48") : seconds ? "w-48" : "w-32";
  .clock.text-3xl.rounded-lg.text-highlightColor.shadow-inner.p-2.flex.glass.items-center(
    data-seconds=seconds,
    class=cl
  )
    +makeDigital('', digital, '88:88:88')
    .ampm.text-2xl
