mixin clock(seconds=false, digital=true)
  .clock.text-3xl.rounded-lg.text-highlightColor.shadow-inner.p-2.flex.glass(
    data-seconds=seconds
  )
    +makeDigital('', digital, '88:88:88')
    .ampm
