mixin indicator(classes, active = false)
  .indicator.card-width-1.card-height-1
    .joliePosition.text-center
      - var cl = active ? "text-highlightColor" : "";
      .text-4xl(class=cl)
        i.mono-font-4xl(class=classes)
