mixin light(status)
  .light.text-center.w-24
    - var clb = status ? "text-shadow" : "";
    - var cli = status ? "fas" : "far";
    .p-3.text-3xl(class=clb)
      i.mono-font-3xl.fa-lightbulb(class=cli)
