mixin light(status)
  .light.card-width-1.card-height-1
    .joliePosition.text-center
      - var clb = status ? "text-shadow" : "";
      - var cli = status ? "fas" : "far";
      .text-4xl(class=clb)
        i.mono-font-4xl.fa-lightbulb(class=cli)
