mixin numeric-display(value, decimals = 0, unit = '', capture = '', digital = true)
  .numeric-display.card-width-1.card-height-1
    .joliePosition.flex-col.p-2
      - var val = parseFloat(value).toFixed(decimals);
      if capture
        p.text-shadowColor= capture
      .wrapper.text-highlightColor.glass.shadow-inner
        div
          .value
            div
              +makeDigital(val, digital)
          .unit= unit
