mixin numeric-display(value, decimals = 0, unit = '', capture = '')
  .numeric-display.w-full
    - var val = parseFloat(value).toFixed(decimals)
    if capture
      p.text-center.text-xs.text-shadowColor= capture
    p.text-right
      span.text-4xl= val
      span.text-xl= unit
    