mixin numeric-display(value, decimals = 0, unit = '', capture = '')
  .numeric-display.w-full
    - var val = parseFloat(value).toFixed(decimals);
    if capture
      p.text-center.text-xs.text-shadowColor= capture
    .text-right.rounded-lg.text-highlightColor.shadow-inner.flex.items-end.py-1.px-2.mt-2.bg-activeColor
      .relative.overflow-hidden.text-3xl.font-mono
        .hollow.absolute.inset-0.opacity-12 0.0.0.0.0.0.0.0.0.0.0.
        .digits= val
      .text-xl= unit
