mixin rain-gauge(hour, day, digital = true)
  .rain-gauge.w-96.h-32.flex.items-center
    .mx-auto.inline-block
      .mr-4.pr-4.border-r.border-primaryColor.inline-block
        +numeric-display(hour, 1, 'mm', 'depuis 1h', digital)
      .inline-block
        +numeric-display(day, 1, 'mm', 'depuis 24h', digital)
