mixin shutter(type, state)
  .shutter.text-center.w-24
    if (type == 'door')
      +indicator('fas fa-door-closed')
    else if (type == 'window')
      - var cl = state == "closed" ? "fas fa-square" : "far fa-plus-square";
      +indicator(cl)
    else
      p TODO
