mixin thermostat(value, state, current, unit, digital = true)
  .thermostat.w-48.h-24
    .flex.flex-col.mx-auto
      .flex.justify-around.mx-auto(class='w-2/3')
        if state
          i.fas.fa-fire
        if current
          - var cl = digital ? "font-mono" : "";
          span(class=cl)= current
          span= unit
      +dimmer(value, 0, 100, 1, unit, digital)
