mixin thermostat(value, state, current, unit, digital = true)
  .thermostat.card-width-2.card-height-1
    .flex.flex-col.w-full.h-full.items-center.justify-center
      p
        if state
          i.fas.fa-fire.mr-2
        if current
          - var cl = digital ? "font-mono" : "";
          span(class=cl)= current
          span= unit
      +dimmer(value, 0, 100, 1, unit, digital, false)
