mixin weather(location, conditions, temperature, digital = true)
  .weather.flex.items-center.justify-around.w-32.h-24(data-location=location)
    - var cond = "fas fa-" + conditions;
    +indicator(cond)
    - var cl = digital ? "font-mono" : "";
    span(class=cl)= temperature
    span °C
