mixin weather(location, conditions, temperature)
  .weather.w-full.flex.items-center(data-location=location)
    - var cond = "fas fa-" + conditions;
    +indicator(cond)
    span.font-mono= temperature
    span °C
