mixin weather(location, conditions, temperature)
  .weather.w-full.flex.items-center(data-location=location)
    - var cond = "fas fa-" + conditions;
    +indicator(cond)
    - var temp = temperature + "°C";
    p= temp
