mixin wind(speed, direction, unit = 'km/h', digital = true)
  .wind.card-width-1.card-height-1
    .joliePosition
      .wrapper
        - var wdir = "wind-" + direction;
        .ring.border-primaryColor(class=wdir)
          .mono-font-xs
            i.fa.fa-caret-up
        .value
          - var cl = digital ? "font-mono" : "";
          span(class=cl)= speed
          span= unit
