#gauge(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color) {
  .generateRingColor(@color, @percent) {
    .wrapper {
      box-shadow: 0 0 (10px + 10px * @percent) 0 fadein(@color, 10%);
    }
    .ring {
      .fill {
        background-color: @color;
      }
    }
  }

  .gauge {
    .generateRingColor(#4a5568, 1);

    .container {
      top: 50%;
    }

    &.frost {
      .generateRingColor(#2b6cb0, 0.2);
    }

    &.cold {
      .generateRingColor(#4c51bf, 0.4);
    }

    &.normal {
      .generateRingColor(#6b46c1, 0.6);
    }

    &.warm {
      .generateRingColor(#B83280, 0.8);
    }

    &.hot {
      .generateRingColor(#C53030, 1);
    }
  }
}
