@import '../../../_vars.less';

#switch(@base_color, @front_color, @active_color, @primary_color, @highlight_color, @shadow_color, @text-shadow_color) {
  .switch-button {
    line-height: normal;

    border-color: darken(@front_color, 2%);

    box-shadow: -@shadow_size -@shadow_size @shadow_size*2
        lighten(@front_color, -2.5%),
      @shadow_size @shadow_size @shadow_size*2
        lighten(@front_color, 2.5%);

    &.active {
      color: @highlight_color;
      background: linear-gradient(
        145deg,
        lighten(@front_color, 1.5%),
        lighten(@front_color, -1.5%)
      );
    }

    &:focus {
      outline: none;
    }
  }

  .switch-arrow {
    .active {
      background-color: @highlight_color;
      color: @front_color;
    }
  }

  .switch-toggle {
    &.active,
    &.hover\:active:hover {
      .wrapper {
        background-color: @primary_color !important;
        box-shadow: none;
      }
    }

    input[checked] {
      & ~ .wrapper {
        background-color: @highlight_color !important;
        box-shadow: 0 0 10px 0 fadein(@highlight_color, 10%);
      }
    }
  }
}
