doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/lib.min.css')
    link#theme(rel='stylesheet', href='/css/light.min.css')
    link(rel='icon', href='/img/icon.png', type='image/png')

  include ../inc/mixins

  block vars

  body.flex.h-screen.font-sans
    #illustration.absolute.w-full.inset-0.min-h-full
      - var bg = "background-image:url(" + bgUrl + ")"
      #cover.absolute.w-full.inset-0.min-h-full(style=bg)

    include ../inc/sidebar
    block sidebar

    include ../inc/header

    main.w-full.mx-16.my-4.p-4
      #cards.clearfix.w-full
        block main

    include ../inc/footer

    script(src='/js/app.min.js')
