doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/app.min.css")

  body.flex.h-screen.bg-baseColor.font-sans
    include ../inc/sidebar
    block sidebar

    include ../inc/header

    main#cards.w-full.mx-16.my-4.p-4
      block main

    include ../inc/footer

    script(src="/js/app.min.js")