doctype html
html.light_theme(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/main.pcss')
    link(rel='icon', href='/img/icon.png', type='image/png')

  block vars

  body
    #illustration
      .filter
      .cover

    #sidebar.w-16.bg-frontColor(class='hover:w-48 hover:shadow-2xl')
      nav#menu
        ul
      #yadoms-icon
        a.text-primaryColor(href='https://yadoms.com', target='_blank')
          span.icon
            img(src='/img/icon.png')
          span.word Yadoms.com

    include pug/inc/header

    main
      #cards.clearfix 
        block main

    include pug/inc/footer

    script(src='/ts/main.ts')
