@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import './lib/fontawesome/css/fontawesome.min.css';
@import './lib/fontawesome/css/regular.min.css';
@import './lib/fontawesome/css/solid.min.css';

@import './less/main.less';
